
= sass :app
#wrap
  %ul
    %li
      %a{:href => '/inline' } Inline Example
    %li
      %a{:href => '/radius' } Border Radius
      
    %li
      %a{:href => '/text-shadow' } Text Shadow
    
    %li
      %a{:href => '/box-shadow' } Box Shadow
    %li
      %a{:href => '/rgba' } RGBA

    %li
      %a{:href => '/transitions' } Transisitions
  

  
      
